<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 用户信息 -->
<mapper namespace="com.hm.appinfo.dao.SAUserInfoMapper">

	<parameterMap id="userInfo" type="com.hm.appinfo.model.SAUserInfo" />

	<resultMap id="BaseResultMap" type="com.hm.appinfo.model.SAUserInfo">
		<id column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="GROUP_ID" property="groupId" jdbcType="INTEGER" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="EMPLOYEE_ID" property="employeeId" jdbcType="VARCHAR" />
		<result column="MOB_TEL1" property="mobTel1" jdbcType="VARCHAR" />
		<result column="MOB_TEL2" property="mobTel2" jdbcType="VARCHAR" />
		<result column="FAM_TEL" property="famTel" jdbcType="VARCHAR" />
		<result column="COM_TEL" property="comTel" jdbcType="VARCHAR" />
		<result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="IS_STOP" property="isStop" jdbcType="CHAR" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="RESERVER1" property="reserver1" jdbcType="VARCHAR" />
		<result column="RESERVER2" property="reserver2" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="USER_CATEGORY" property="userCategory" jdbcType="VARCHAR" />
		<result column="AppCode" property="appcode" jdbcType="VARCHAR" />
		<result column="APPLICANT_ID" property="applicantId" jdbcType="BIGINT" />
		<result column="ACCOUNT_ID" property="accountId" jdbcType="BIGINT" />
		<result column="CARD_ID" property="cardId" jdbcType="VARCHAR" />
		<result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
		<result column="USER_SEX" property="userSex" jdbcType="VARCHAR" />
		<result column="DEPT_ID" property="deptId" jdbcType="BIGINT" />
		<result column="USER_STATUS" property="userStatus" jdbcType="VARCHAR" />
		<result column="ENTRY_TIME" property="entryTime" jdbcType="TIMESTAMP" />
		<result column="POSITION" jdbcType="VARCHAR" property="position" />
		<result column="TOKEN" property="token" jdbcType="VARCHAR" />
		<result column="PARENT_USER_LOGIN_NAME" property="parentUserLoginName" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="stop_status" property="stopStatus" jdbcType="CHAR" />
		<result column="INIT_PWD_TYPE" property="initPwdType" jdbcType="BIGINT" />
    	<result column="UPDATE_PWD_TIME" property="updatePwdTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		USER_ID, GROUP_ID, USER_NAME, 
		LOGIN_NAME, PASSWORD, EMPLOYEE_ID, 
		MOB_TEL1, MOB_TEL2, FAM_TEL, 
		COM_TEL, DEPARTMENT, TITLE,
		IS_STOP, MODIFY_TIME, CREATE_TIME,
		RESERVER1, RESERVER2, EMAIL, 
		USER_CATEGORY, APPCODE, APPLICANT_ID, 
		ACCOUNT_ID, CARD_ID, USER_TYPE,
		USER_SEX, DEPT_ID, USER_STATUS, 
		ENTRY_TIME, POSITION, TOKEN, STOP_STATUS,
		INIT_PWD_TYPE, UPDATE_PWD_TIME,PARENT_USER_LOGIN_NAME,STATUS
	</sql>
	
	<sql id="Base_Condition_Select">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		  <if test="userId != null and userId > 0" >
	       and USER_ID = #{userId,jdbcType=INTEGER}
	      </if>
		  <if test="groupId != null" >
	       and GROUP_ID = #{groupId,jdbcType=INTEGER}
	      </if>
	      <if test="userName != null" >
	       and USER_NAME = #{userName,jdbcType=VARCHAR}
	      </if>
	      <if test="loginName != null" >
	       and LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
	      </if>
	      <!--<if test="password != null" >
	       and PASSWORD = #{password,jdbcType=VARCHAR}
	      </if>-->
	      <if test="employeeId != null" >
	       and EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
	      </if>
	      <if test="mobTel1 != null" >
	       and MOB_TEL1 = #{mobTel1,jdbcType=VARCHAR}
	      </if>
	      <if test="mobTel2 != null" >
	       and MOB_TEL2 = #{mobTel2,jdbcType=VARCHAR}
	      </if>
	      <if test="famTel != null" >
	       and FAM_TEL = #{famTel,jdbcType=VARCHAR}
	      </if>
	      <if test="comTel != null" >
	       and COM_TEL = #{comTel,jdbcType=VARCHAR}
	      </if>
	      <if test="department != null" >
	       and DEPARTMENT = #{department,jdbcType=VARCHAR}
	      </if>
	      <if test="title != null" >
	       and TITLE = #{title,jdbcType=VARCHAR}
	      </if>
	      <if test="isStop != null" >
	       and IS_STOP = #{isStop,jdbcType=CHAR}
	      </if>
	      <if test="modifyTime != null" >
	       and MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="createTime != null" >
	       and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="reserver1 != null" >
	       and RESERVER1 = #{reserver1,jdbcType=VARCHAR}
	      </if>
	      <if test="reserver2 != null" >
	       and RESERVER2 = #{reserver2,jdbcType=VARCHAR}
	      </if>
	      <if test="email != null" >
	       and email = #{email,jdbcType=VARCHAR}
	      </if>
	      <if test="userCategory != null" >
	       and user_category = #{userCategory,jdbcType=VARCHAR}
	      </if>
	      <if test="appcode != null" >
	       and AppCode = #{appcode,jdbcType=VARCHAR}
	      </if>
	      <if test="applicantId != null" >
	       and APPLICANT_ID = #{applicantId,jdbcType=BIGINT}
	      </if>
	      <if test="accountId != null" >
	       and ACCOUNT_ID = #{accountId,jdbcType=BIGINT}
	      </if>
	      <if test="cardId != null" >
	       and CARD_ID = #{cardId,jdbcType=VARCHAR}
	      </if>
	      <if test="userType != null" >
	       and USER_TYPE = #{userType,jdbcType=VARCHAR}
	      </if>
	      <if test="userSex != null" >
	       and USER_SEX = #{userSex,jdbcType=VARCHAR}
	      </if>
	      <if test="deptId != null" >
	       and DEPT_ID = #{deptId,jdbcType=BIGINT}
	      </if>
	      <if test="userStatus != null" >
	       and USER_STATUS = #{userStatus,jdbcType=VARCHAR}
	      </if>
	      <if test="entryTime != null" >
	       and ENTRY_TIME = #{entryTime,jdbcType=TIMESTAMP}
	      </if>
	      <if test="position != null" >
	       and POSITION = #{position,jdbcType=VARCHAR}
	      </if>
	      <if test="token != null" >
	       and TOKEN = #{token,jdbcType=VARCHAR}
	      </if>
	      <if test="stopStatus != null" >
	       and stop_status = #{stopStatus,jdbcType=CHAR}
	      </if>
		</trim>
	</sql>
	
	<select id="list" resultMap="BaseResultMap" parameterType="com.hm.appinfo.model.SAUserInfo" >
    select 
		<include refid="Base_Column_List" />
    from sa_user_info
		<include refid="Base_Condition_Select" />
  </select>
	
</mapper>