<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.base.dao.BankRecordInformationHmMapper">
	<!-- redis缓存 -->
	<cache type="com.gep.core.cache.MybatisRedisCache" />
     
    <parameterMap id="bankRecordInformation" type="com.hm.base.model.BankRecordInformation" />
	<resultMap id="BaseResultMap" type="com.hm.base.model.BankRecordInformation">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="isEnable" property="isenable" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="CHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, code, name, isEnable, remark, sign
	</sql>

	<select id="list" resultMap="BaseResultMap"
		parameterMap="bankRecordInformation">
		select
		<include refid="Base_Column_List" />
		from bank_record_information
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="id != null">
				AND id = #{id,jdbcType=BIGINT}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="isenable != null and isenable != ''">
					AND (isEnable = #{isenable,jdbcType=VARCHAR} or  isEnable='启用')
			</if>
			<if test="sign != null and sign != ''">
				AND sign = #{sign,jdbcType=CHAR}
			</if>
		</trim>
	</select>


	<delete id="delete" parameterType="java.lang.Long">
		delete from bank_record_information
		where id = #{id,jdbcType=BIGINT}
	</delete>


	<insert id="insert" parameterMap="bankRecordInformation">
		insert into bank_record_information
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="isenable != null">
				isEnable,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="sign != null">
				sign,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="isenable != null">
				#{isenable,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="sign != null">
				#{sign,jdbcType=CHAR},
			</if>
		</trim>
	</insert>


	<update id="update" parameterMap="bankRecordInformation">
		update bank_record_information
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="isenable != null">
				isEnable = #{isenable,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="sign != null">
				sign = #{sign,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>